{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	autojump
	bat
	curl
	deno
    direnv
	ffmpeg
	git
	git-delta
	git-gui
	jq
	less
	nvm
	pure
	redis
    sqlite
	tealdeer
	tig
	wget
    youtube-dl
	zplug
)
casks=(
	1password
	1password/tap/1password-cli
	bartender
    discord
	docker
	google-chrome
    fantastical
    figma
	iterm2
	lunar
    notion
    postico
    postman
	protonmail-bridge
    raycast
    readdle-spark
    slack
	spectacle
	spotify
    telegram
	visual-studio-code
)

brew update

brew install ${formulae[@]}

brew install --cask ${casks[@]}

brew cleanup

echo "app store these: things, theine, hand mirror, parcel"
{{ end }}